Repository HAECHI-LABS/vvisp, pull requests merged in 2019-01, with the labels that each got.

#34 fix: do not compile Proxy when there is no upgradeable contract #32
  packages/vvisp/scripts/deploy-service/preProcess/compareConfigAndState.js
  packages/vvisp/scripts/deploy-service/preProcess/compileAll.js
  packages/vvisp/scripts/deploy-service/preProcess/index.js
  packages/vvisp/test/scripts/deploy-service/index.test.js
Labels: bug, feature: deploy-service

#42 fix: add invalid command error handler
  packages/vvisp/bin/commander.js
Labels: bug, error handling

#49 Oyt/feat0.5
  packages/vvisp-utils/contracts/Version5.sol
  packages/vvisp-utils/package.json
  packages/vvisp-utils/src/compile.js
  packages/vvisp-utils/src/utils/compilerSupplier.js
  packages/vvisp-utils/test/compile.test.js
  packages/vvisp/package.json
Labels: config, enhancement

#47 feat: add interactive console command
  packages/vvisp/commands/console.js
  packages/vvisp/commands/index.js
  packages/vvisp/package.json
  packages/vvisp/scripts/console.js
  packages/vvisp/scripts/index.js
  packages/vvisp/test/dummy/test.invalid_state.vvisp.json
  packages/vvisp/test/dummy/test.state.vvisp.json
  packages/vvisp/test/dummy/testContractApis/back/abi/HaechiV1.json
  packages/vvisp/test/dummy/testContractApis/back/index.js
  packages/vvisp/test/dummy/testContractApis/back/js/HaechiV1.js
  packages/vvisp/test/scripts/console.test.js
Labels: enhancement, feature: console

#62 fix: #57, findImports now enable to find .sol at node_modules
  packages/vvisp-utils/contracts/MyNFT.sol
  packages/vvisp-utils/package.json
  packages/vvisp-utils/src/compile.js
  packages/vvisp-utils/test/compile.test.js
Labels: bug

#58 test: add deploy-contract
  packages/vvisp/contracts/test/Flattened.sol
  packages/vvisp/test/scripts/deploy-contract.test.js
Labels: feature: deploy-contract, test Needed

#63 feat: allow to connect with custom blockchain #60, code refine, add test
  CONFIGURATION-ko.md
  CONFIGURATION.md
  packages/vvisp-utils/src/getWeb3.js
  packages/vvisp/bin/error.js
  packages/vvisp/referenceFiles/example.env
  packages/vvisp/scripts/deploy-contract.js
  packages/vvisp/scripts/deploy-service/index.js
  packages/vvisp/test/bin/error.test.js
Labels: config, enhancement

#68 fix: modified to get address according to fileName and add try catch when call contract method
  packages/vvisp/scripts/console.js
Labels: bug, feature: console

#69 fix: modified to accept array as input
  packages/vvisp/package.json
  packages/vvisp/scripts/console.js
Labels: bug, feature: console

#73 feat: add receipt.logs parser
  packages/vvisp/package.json
  packages/vvisp/scripts/console.js
  packages/vvisp/test/scripts/console.test.js
Labels: enhancement, feature: console

#72 feat: add register command in console
  packages/vvisp/scripts/console.js
Labels: enhancement, feature: console

#77 Oyt/ci err
  packages/vvisp-utils/test/ci.sh
  packages/vvisp/test/ci.sh
Labels: bug, infrastructure
