Repository HAECHI-LABS/vvisp, pull requests merged in 2019-02, with the labels that each got.

#81 fix: #80 adjust findImports
  packages/vvisp-utils/package.json
  packages/vvisp-utils/src/compile.js
Labels: bug, error handling, utils

#65 docs: add architecture
  README.md
  images/[vvisp]logical-view.png
  images/[vvisp]module-view.png
Labels: docs

#85 refactor: referencefile
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/package.json
  packages/vvisp/referenceFiles/.babelrc
  packages/vvisp/referenceFiles/.gitignore
  packages/vvisp/referenceFiles/.solcover.js
  packages/vvisp/referenceFiles/contracts/Migrations.sol
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/referenceFiles/scripts/test.sh
  packages/vvisp/referenceFiles/test/Example.test.js
  packages/vvisp/referenceFiles/test/helpers/EVMRevert.js
  packages/vvisp/referenceFiles/test/helpers/EVMThrow.js
  packages/vvisp/referenceFiles/test/helpers/advanceToBlock.js
  packages/vvisp/referenceFiles/test/helpers/assertJump.js
  packages/vvisp/referenceFiles/test/helpers/assertRevert.js
  packages/vvisp/referenceFiles/test/helpers/constants.js
  packages/vvisp/referenceFiles/test/helpers/encodeCall.js
  packages/vvisp/referenceFiles/test/helpers/ether.js
  packages/vvisp/referenceFiles/test/helpers/eventFinder.js
  packages/vvisp/referenceFiles/test/helpers/expectEvent.js
  packages/vvisp/referenceFiles/test/helpers/expectThrow.js
  packages/vvisp/referenceFiles/test/helpers/merkleTree.js
  packages/vvisp/referenceFiles/test/helpers/sendTransaction.js
  packages/vvisp/referenceFiles/test/helpers/shouldFail.js
  packages/vvisp/referenceFiles/test/helpers/sign.js
  packages/vvisp/referenceFiles/test/helpers/time.js
  packages/vvisp/referenceFiles/test/helpers/toPromise.js
  packages/vvisp/referenceFiles/test/helpers/transactionMined.js
  packages/vvisp/referenceFiles/test/helpers/web3.js
  packages/vvisp/referenceFiles/truffle-config.js
Labels: feature: init

#89 fix: register proxy address when proxy=true
  packages/vvisp/scripts/console.js
  packages/vvisp/test/dummy/test.proxy.state.vvisp.json
  packages/vvisp/test/scripts/console.test.js
Labels: bug, feature: console

#86 fix: example test case convention, fix package.json
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/referenceFiles/test/Example.test.js
Labels: bug, feature: init, style

#90 Jun/event logs
  packages/vvisp-utils/src/index.js
  packages/vvisp-utils/src/parseLogs.js
  packages/vvisp/package.json
  packages/vvisp/scripts/console.js
Labels: bug, error handling, feature: console

#92 refactor: solidity version update
  packages/vvisp-contracts/libs/BytesLib.sol
  packages/vvisp-contracts/package.json
  packages/vvisp-contracts/upgradeable/Proxy.sol
  packages/vvisp-contracts/upgradeable/UpgradeabilityProxy.sol
  packages/vvisp-contracts/upgradeable/VvispLibraryRegistry.sol
  packages/vvisp-contracts/upgradeable/VvispProxy.sol
  packages/vvisp-utils/contracts/DependencyA.sol
  packages/vvisp-utils/contracts/DependencyB.sol
  packages/vvisp-utils/contracts/DependencyD.sol
  packages/vvisp-utils/contracts/ErrorContract.sol
  packages/vvisp-utils/contracts/ErrorImportContract.sol
  packages/vvisp-utils/contracts/MyNFT.sol
  packages/vvisp-utils/contracts/SecondB.sol
  packages/vvisp-utils/package.json
  packages/vvisp-utils/src/compile.js
  packages/vvisp-utils/test/compile.test.js
  packages/vvisp-utils/test/dummy/sample.vvisp-config.js
  packages/vvisp/contracts/test/Attachment.sol
  packages/vvisp/contracts/test/DependencyA.sol
  packages/vvisp/contracts/test/DependencyB.sol
  packages/vvisp/contracts/test/DependencyC.sol
  packages/vvisp/contracts/test/DependencyD.sol
  packages/vvisp/contracts/test/Flattened.sol
  packages/vvisp/contracts/test/Loan.sol
  packages/vvisp/contracts/test/Portfolio.sol
  packages/vvisp/contracts/test/SecondA.sol
  packages/vvisp/contracts/test/SecondB.sol
  packages/vvisp/contracts/test/SecondC.sol
  packages/vvisp/contracts/test/SecondD.sol
  packages/vvisp/contracts/test/Token_V0.sol
  packages/vvisp/contracts/test/Token_V1.sol
  packages/vvisp/contracts/upgradeable/VvispRegistry.sol
  packages/vvisp/package.json
  packages/vvisp/referenceFiles/contracts/Migrations.sol
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/referenceFiles/truffle-config.js
  packages/vvisp/test/dummy/sample.vvisp-config.js
Labels: contracts, enhancement
