Repository HAECHI-LABS/vvisp, pull requests merged in 2019-03, with the labels that each got.

#105 feat: add command line options to change config
  packages/vvisp-utils/src/Config.js
  packages/vvisp-utils/test/Config.test.js
  packages/vvisp/bin/commander.js
  packages/vvisp/bin/options.js
  packages/vvisp/commands/abi-to-script.js
  packages/vvisp/commands/compile.js
  packages/vvisp/commands/console.js
  packages/vvisp/commands/deploy-contract.js
  packages/vvisp/commands/deploy-service.js
Labels: config, enhancement

#106 fix: change default config options
  packages/vvisp-utils/src/Config.js
  packages/vvisp-utils/src/sendTx.js
  packages/vvisp-utils/test/Config.test.js
  packages/vvisp-utils/test/dummy/sample.vvisp-config.js
Labels: config

#107 fix: fix default registry true => false
  packages/vvisp/scripts/deploy-service/preProcess/index.js
  packages/vvisp/test/dummy/justNonUpgradeables.service1.json
  packages/vvisp/test/dummy/justNonUpgradeables.service2.json
  packages/vvisp/test/dummy/justUpgradeables.service1.json
  packages/vvisp/test/dummy/justUpgradeables.service2.json
  packages/vvisp/test/dummy/noRegistry.service1.json
  packages/vvisp/test/dummy/noRegistry.service2.json
  packages/vvisp/test/dummy/service1.json
  packages/vvisp/test/dummy/service2.json
  packages/vvisp/test/dummy/test.env
  packages/vvisp/test/scripts/deploy-service/index.test.js
Labels: config, feature: deploy-service

#111 fix: fix bug about #110
  packages/vvisp/contracts/test/DependencyA.sol
  packages/vvisp/contracts/test/DependencyB.sol
  packages/vvisp/contracts/test/SecondA.sol
  packages/vvisp/contracts/test/SecondD.sol
  packages/vvisp/scripts/deploy-service/preProcess/checkError.js
  packages/vvisp/scripts/deploy-service/processes/initNonUpgradeables.js
  packages/vvisp/scripts/deploy-service/processes/injectVar.js
  packages/vvisp/scripts/deploy-service/utils/hasInit.js
  packages/vvisp/scripts/deploy-service/utils/hasInitArgs.js
  packages/vvisp/scripts/deploy-service/utils/index.js
  packages/vvisp/test/dummy/justNonUpgradeables.service1.json
  packages/vvisp/test/dummy/justNonUpgradeables.service2.json
  packages/vvisp/test/scripts/deploy-service/index.test.js
Labels: bug, feature: deploy-service

#108 fix: fix bug that config does not change after generated
  packages/vvisp/template/index.js
  packages/vvisp/template/script.mustache
  packages/vvisp/test/dummy/sample.vvisp-config.js
  packages/vvisp/test/dummy/testContractApis/back/index.js
  packages/vvisp/test/dummy/testContractApis/back/js/HaechiV1.js
  packages/vvisp/test/scripts/abi-to-script/index.test.js
Labels: bug, config, feature: abi-to-script

#109 docs: update documentations
  CONFIGURATION-ko.md
  CONFIGURATION.md
  README-ko.md
  README.md
  packages/vvisp/README.md
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
Labels: docs

#119 feat: handle error if there is no function when using console #116
  packages/vvisp/scripts/console.js
Labels: error handling, feature: console

#118 chore: delte legacy codes, add babel, update yarn.lock, update README.md
  README.md
  packages/vvisp-utils/src/getPrivateKey.js
  packages/vvisp-utils/test/getPrivateKey.test.js
  packages/vvisp/README.md
  packages/vvisp/package.json
  packages/vvisp/referenceFiles/.babelrc
  packages/vvisp/referenceFiles/example.vvisp-config.js
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/referenceFiles/truffle-config.js
  yarn.lock
Labels: docs

#121 docs: correct typo HEACHI -> HAECHI
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
Labels: docs

#122 refactor: replace Object.keys, Object.values with Object.entries
  packages/vvisp/scripts/compile.js
Labels: feature: compile

#124 fix: fix bug about #123
  packages/vvisp-contracts/package.json
  packages/vvisp-utils/package.json
  packages/vvisp/package.json
  packages/vvisp/referenceFiles/package.json
Labels: contracts

#127 fix: fix #126 change .babelrc presets for supporting spread(...) operator
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/referenceFiles/truffle-config.js
Labels: bug, feature: init

#129 fix #128 "fix: support --network option for vvisp console command"
  packages/vvisp/scripts/console.js
Labels: bug, feature: console

#125 docs: add 'options' for deploy-service, deploy-contract commands
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
Labels: docs
