Repository HAECHI-LABS/vvisp, pull requests merged in 2019-06, with the labels that each got.

#145 fix: multiple return values handling at console call function
  packages/vvisp/scripts/console.js
Labels: bug

#149 Jay/divide default evm version
  packages/vvisp-utils/src/Config.js
  packages/vvisp-utils/test/Config.test.js
  packages/vvisp-utils/test/dummy/sample.vvisp-config.js
Labels: config, error handling

#146 fix: show error logs if entering console command before gen-script
  packages/vvisp/scripts/console.js
  packages/vvisp/test/scripts/console.test.js
Labels: error handling, feature: console

#151 fix: hotfix-fix-console-contract-dup-bug
  packages/vvisp-contracts/package.json
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/scripts/console.js
  packages/vvisp/template/script.mustache
  packages/vvisp/test/dummy/testContractApis/back/index.js
  packages/vvisp/test/dummy/testContractApis/back/js/HaechiV1.js
  packages/vvisp/test/scripts/console.test.js
Labels: bug, feature: console, style

#152 docs: add klaytn tutorial docs, update exists docs
  README-ko.md
  README.md
  README_KLAYTN.md
Labels: docs

#153 Jay/add ef logo
  README-ko.md
  README.md
  images/[EF]logo.png
Labels: docs

#156 fix: fix bug about array arguments at deploy-contract
  packages/vvisp/scripts/deploy-contract.js
Labels: bug, feature: deploy-contract

#155 feat: deprecate registry and update version
  CONFIGURATION-ko.md
  CONFIGURATION.md
  README-ko.md
  README.md
  README_KLAYTN.md
  images/[vvisp]module-view.png
  packages/vvisp-contracts/libs/BytesLib.sol
  packages/vvisp-contracts/package.json
  packages/vvisp-contracts/vvisp/VvispLibraryRegistry.sol
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/config/Constant.js
  packages/vvisp/contracts/vvisp/VvispRegistry.sol
  packages/vvisp/package.json
  packages/vvisp/referenceFiles/example.service.vvisp.json
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/scripts/console.js
  packages/vvisp/scripts/deploy-service/constants.js
  packages/vvisp/scripts/deploy-service/index.js
  packages/vvisp/scripts/deploy-service/preProcess/compileAll.js
  packages/vvisp/scripts/deploy-service/preProcess/index.js
  packages/vvisp/scripts/deploy-service/processes/deployContracts.js
  packages/vvisp/scripts/deploy-service/processes/deployRegistry.js
  packages/vvisp/scripts/deploy-service/processes/index.js
  packages/vvisp/scripts/init.js
  packages/vvisp/test/dummy/noRegistry.service1.json
  packages/vvisp/test/dummy/noRegistry.service2.json
  packages/vvisp/test/dummy/noRegistry.state1.json
  packages/vvisp/test/dummy/service1.json
  packages/vvisp/test/dummy/service2.json
  packages/vvisp/test/dummy/state1.json
  packages/vvisp/test/dummy/test.invalid_state.vvisp.json
  packages/vvisp/test/dummy/test.state.vvisp.json
  packages/vvisp/test/scripts/deploy-service/index.test.js
  packages/vvisp/test/scripts/init.test.js
Labels: contracts, feature: deploy-service

#158 ci: change yarn to npm
  .circleci/config.yml
  CONTRIBUTING-ko.md
  CONTRIBUTING.md
  lerna.json
  package.json
  yarn.lock
Labels: infrastructure

#163 feat: add exampleApiUser.js and add some logs about gen-script
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/scripts/gen-script/index.js
  packages/vvisp/scripts/gen-script/template/exampleApiUser.js
  packages/vvisp/scripts/gen-script/template/front.mustache
  packages/vvisp/scripts/gen-script/template/frontIndex.mustache
  packages/vvisp/scripts/gen-script/template/index.mustache
  packages/vvisp/scripts/gen-script/template/script.mustache
  packages/vvisp/test/scripts/gen-script/index.test.js
Labels: feature: gen-script

#164 Jay/update init test script
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/referenceFiles/scripts/local_eth_ganache_option.js
  packages/vvisp/referenceFiles/scripts/test.sh
  packages/vvisp/referenceFiles/truffle-config.js
  packages/vvisp/test/scripts/init.test.js
Labels: feature: init

#165 feat: add forced deploy guide
  packages/vvisp/scripts/deploy-service/index.js
  packages/vvisp/scripts/deploy-service/preProcess/index.js
Labels: feature: deploy-service

#166 feat: add error handling about network and output of chosen network
  packages/vvisp-utils/src/Config.js
  packages/vvisp-utils/test/Config.test.js
  packages/vvisp/scripts/utils/injectConfig.js
Labels: config, error handling, utils

#170 fix: make generate scripts of all contracts in file
  packages/vvisp/scripts/gen-script/generateApis.js
Labels: bug, enhancement, feature: gen-script

#169 fix: update init package belong to latest truffle version
  packages/vvisp/referenceFiles/contracts/Migrations.sol
  packages/vvisp/referenceFiles/migrations/1_initial_migration.js
Labels: feature: init

#168 feat: add name prop in service.vvisp.json to indicate the contract name
  CONFIGURATION-ko.md
  CONFIGURATION.md
  README-ko.md
  README.md
  README_KLAYTN.md
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/contracts/test/DependencyA.sol
  packages/vvisp/scripts/deploy-service/index.js
  packages/vvisp/scripts/deploy-service/preProcess/checkError.js
  packages/vvisp/scripts/deploy-service/preProcess/compareConfigAndState.js
  packages/vvisp/scripts/deploy-service/preProcess/index.js
  packages/vvisp/scripts/deploy-service/processes/deployContracts.js
  packages/vvisp/scripts/deploy-service/processes/initContracts.js
  packages/vvisp/scripts/deploy-service/utils/index.js
  packages/vvisp/scripts/deploy-service/utils/pathToInstance.js
  packages/vvisp/test/dummy/service2.json
  packages/vvisp/test/dummy/state1.json
  packages/vvisp/test/dummy/test.state.vvisp.json
  packages/vvisp/test/scripts/deploy-service/index.test.js
Labels: config, enhancement, feature: deploy-service

#172 feat: add interactive to deploy-contract to determine the exact contract
  packages/vvisp-utils/src/compileAndDeploy.js
  packages/vvisp-utils/src/getSTDInput.js
  packages/vvisp-utils/src/index.js
  packages/vvisp/scripts/console.js
  packages/vvisp/scripts/deploy-contract.js
  packages/vvisp/test/scripts/gen-script/index.test.js
Labels: enhancement, feature: deploy-contract

#171 fix: fix console to determine the name prop of state.vvisp.json
  packages/vvisp/scripts/console.js
  packages/vvisp/test/scripts/console.test.js
Labels: feature: console

#173 style: prettier compile warnings #64
  packages/vvisp-utils/src/compile.js
Labels: style, utils

#174 fix: fix bug about silent not working
  packages/vvisp/bin/commander.js
  packages/vvisp/bin/options.js
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/commands/compile.js
  packages/vvisp/commands/deploy-contract.js
  packages/vvisp/commands/deploy-service.js
  packages/vvisp/commands/flatten.js
  packages/vvisp/commands/gen-script.js
  packages/vvisp/commands/init.js
Labels: bug

#175 fix: fix bugs that the error msgs occurred twice
  packages/vvisp/commands/compile.js
  packages/vvisp/commands/console.js
  packages/vvisp/commands/deploy-contract.js
  packages/vvisp/commands/deploy-service.js
  packages/vvisp/commands/flatten.js
  packages/vvisp/commands/gen-script.js
  packages/vvisp/commands/init.js
Labels: bug, error handling

#176 feat: add init package name
  README-ko.md
  README.md
  README_KLAYTN.md
  packages/vvisp/README.md
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/commands/compile.js
  packages/vvisp/commands/deploy-contract.js
  packages/vvisp/commands/deploy-service.js
  packages/vvisp/commands/flatten.js
  packages/vvisp/commands/gen-script.js
  packages/vvisp/commands/init.js
  packages/vvisp/scripts/init.js
  packages/vvisp/test/scripts/init.test.js
Labels: enhancement, feature: init

#177 Jay/update docs
  CONFIGURATION-ko.md
  CONFIGURATION.md
  CONTRIBUTING-ko.md
  CONTRIBUTING.md
  README-ko.md
  README.md
  README_KLAYTN.md
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/referenceFiles/example.service.vvisp.json
Labels: docs

#178 Jay/fix tests
  packages/vvisp-utils/package.json
  packages/vvisp-utils/test/dummy/test.env
  packages/vvisp-utils/test/getSTDInput.test.js
  packages/vvisp/scripts/deploy-contract.js
  packages/vvisp/test/scripts/console.test.js
  packages/vvisp/test/scripts/deploy-contract.test.js
Labels: bug

#179 feat: add klaytn option at init
  README_KLAYTN.md
  packages/vvisp/commands/README-ko.md
  packages/vvisp/commands/README.md
  packages/vvisp/commands/init.js
  packages/vvisp/referenceFiles/package.json
  packages/vvisp/referenceFiles/platform/ethereum/contracts/Migrations.sol
  packages/vvisp/referenceFiles/platform/ethereum/example.vvisp-config.js
  packages/vvisp/referenceFiles/platform/ethereum/truffle-config.js
  packages/vvisp/referenceFiles/platform/klaytn/contracts/Migrations.sol
  packages/vvisp/referenceFiles/platform/klaytn/example.vvisp-config.js
  packages/vvisp/referenceFiles/platform/klaytn/truffle-config.js
  packages/vvisp/scripts/init.js
  packages/vvisp/test/scripts/init.test.js
Labels: enhancement, feature: init
